/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.hero {
  background-image: url('../images/apple-pie.jpg');
  height: 350px;

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
  margin: 50px auto;
  padding: 0 0px;
  width: 60%;
  max-width: 760px;
  background-color: white;
}

/* .icons {
  max-resolution: 30px 0;
} */

p {
  margin: 40px auto 35px;
  max-width: 650px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  /* margin-bottom: 20px; */
}

h2 {
  font-size: 20px;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}

ul li::before {
  content: "- ";
}

ol {
  list-style: none;
  padding-left: 20px;
  counter-reset: step;
}

ol li {
counter-increment: step;
}

ol li::before {
  content: counter(step) ") ";
}

li {
  margin-bottom: 10px;
  font-size: 18px;
}

.icons {
  text-align: center;
  margin: 30px 0;
}

.icons img {
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 0;
}

/* STYLES */
/* Write your CSS below */